<main>
    <ng-include src="'layout/header.html'"></ng-include>
    <div class="wrap">
        <div class="popular-movies container text-center">
            <h2>{{vm.textHeaderTwo}}</h2>
        </div>
        <div class="container">
            <div class="row" >
                <div class="col-md-4"  ng-repeat="movie in vm.listMovies">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h3 class="text-center"><a
                                href="/movie?movie={{movie.id}}">{{movie.title}}</a></h3></div>
                        <div class="panel-body text-center">
                            <a href="/movie?movie={{movie.id}}"><img src="{{vm.href+movie.poster_path}}" alt="{{movie.title}}"></a>
                        </div>
                        <div class="panel-footer">Год: {{movie.release_date | filterDate: 'Year'}}</div>
                    </div>
                </div>
                <div class="col-md-12" ng-show="!vm.listMovies.length">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h3 class="text-center">Ни чего не найдено</h3></div>
                        <div class="panel-body text-center">
                            <div class="add-movies ">
                                <span>абсолютно ничего</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4" ng-show="vm.loadMore && vm.listMovies.length">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h3 class="text-center">Загрузить ещё {{vm.loadAdvanced}} фильмов</h3></div>
                        <div class="panel-body text-center add-movies" ng-click="vm.requestMethod(vm.type, vm.dataInput)">
                            <div>
                                <span class="b-ico-round" ></span>
                            </div>
                        </div>
                        <div class="panel-footer"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'layout/footer.html'"></ng-include>

</main>
