
h3, .h3
  font-size: 18px

header
  input
    height: 30px
    margin-top: 20px
    padding: 0 4px
    width: 100%
    border-radius: 4px
    outline: none
    border: 1px solid #ebccd1

.navbar-search
  height: 70px
  background-color: rgb(133, 210, 240)

  h1
    font-size: 18px

  img
    margin-top: 10px
    height: 50px

.navbar-total
  height: 50px
  background-color: rgb(133, 210, 240)
  
.navbar-movie
  @extend .navbar-total
  margin-bottom: 0
  
.wrap
  margin-top: 70px
  margin-bottom: 50px

.wrap-movie
  margin-top: 120px

  h4
    margin-top: 0

.popular-movies
  padding: 20px 0
  
  h2
    margin: 10px 0

.nav-tabs > li.active > div
  background-color: #fff !important

.tab-content > .active
  margin-top: 25px

.youtube-video
  margin-bottom: 25px

.panel-heading
  height: 100px

.panel-body
  height: 310px

.panel-footer
  height: 40px
  
.footer-text
  padding-top: 15px

.add-movies
  cursor: pointer
  text-align: center

  &>div:first-child
    height: 278px
    padding-top: 145px

.b-ico-round
  border: 1px solid #999
  background: #fff
  color: #999
  width: 32px
  height: 32px
  line-height: 29px
  font-size: 20px
  text-align: center
  border-radius: 50%
  display: inline-block
  margin: 0 4px 0 0
  cursor: pointer

  &:before
    content: "+"


.footer-similar
  text-align: center

  &.total
    text-align: right

  .b-ico-round
    margin-top: 34px
    margin-bottom: 34px
    
.cast
  li
    list-style-type: none
    margin-bottom: 5px

.show-more-cast
  cursor: pointer

.section-data
  margin-bottom: 5px
  padding-bottom: 5px
  border-bottom: 1px dashed #ededed

  &:last-child
    border-bottom: none


//кнопка вверх
.back-top
  margin-top: 14px
  opacity: 0
  transition: all .3s ease-out

  button
    color: black
    background: white
    padding: 10px
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    outline: none
    border: 1px solid #ebccd1
    cursor: default

    &:focus
      background: #f5f5f5

    &:hover
      @extend :focus

.show
  opacity: 1 !important
  cursor: pointer !important

  button
    cursor: pointer



@media(min-width: 321px)
  .navbar-search
    img
      margin-top: 0
      height: 70px

@media(min-width: 769px)
  .wrap
    margin-top: 100px

  .navbar-search
    height: 100px

    h1
      font-size: 36px

    img
      margin-top: 0
      height: 100px

  header
    input
      margin-top: 35px

  .back-top
    margin-top: 29px