
h3, .h3
  font-size: 18px

header
  input
    margin-top: 20px
    width: 100%

.navbar-search
  height: 100px
  background-color: rgb(133, 210, 240)

.navbar-total
  height: 50px
  background-color: rgb(133, 210, 240)
  
.wrap
  margin-top: 100px
  margin-bottom: 50px

.popular-movies
  padding: 20px 0
  
  h2
    margin: 10px 0

.panel-heading
  height: 100px

.panel-body
  height: 310px
  
.footer-text
  padding-top: 15px

.add-movies
  height: 278px

.b-ico-round
  border: 1px solid #999
  background: #fff
  color: #999
  width: 32px
  height: 32px
  line-height: 29px
  font-size: 20px
  text-align: center
  border-radius: 50%
  display: inline-block
  margin: 0 4px 0 0
  cursor: pointer

  &:before
    content: "+"
  
